@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700");
.btn-base {
  background-color: #37F0E1 !important;
  color: #383838 !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100%;
  line-height: 1.5; }

img {
  width: 100%; }

.carousel-inner {
  width: 100%;
  background-size: cover; }

.carousel-caption {
  width: 50rem;
  background-color: rgba(56, 56, 56, 0.6);
  color: #FFFFFF;
  border-left: 7px solid #37F0E1;
  border-radius: 5px; }
  .carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase; }
  .carousel-caption p {
    font-size: 1rem;
    font-weight: 300; }

.carousel-control-prev .fas {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #37F0E1;
  padding: .7rem; }

.carousel-control-next .fas {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #37F0E1;
  padding: .7rem; }

.navbar {
  background-color: #383838 !important;
  border-bottom: 2px solid #37F0E1; }
  .navbar-logo {
    display: flex;
    align-items: center; }
  .navbar-brand {
    font-family: "Raleway", sans-serif;
    font-size: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 1rem; }
  .navbar .fas {
    font-size: 2rem;
    color: #37F0E1; }

.nav-link {
  font-weight: 700;
  color: #FFFFFF !important; }

.dropdown-menu {
  margin-top: 1rem;
  border-top: 7px solid #37F0E1; }

.contatos h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem; }

.planos {
  padding: 6rem 0; }
  .planos h3 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem; }
  .planos .card {
    height: 25rem; }
    .planos .card-header span {
      color: #37F0E1; }
  .planos-boxes .group-list .fas {
    margin-right: 1rem; }

.principal {
  padding: 4rem 0;
  text-align: center;
  background: rgba(97, 97, 97, 0.993);
  color: #FFFFFF; }
  .principal h2 {
    font-size: 1.5rem;
    font-weight: 700; }
  .principal p {
    font-size: .8rem;
    font-style: italic; }
  .principal-newsletter {
    margin-top: 2rem;
    background: #FF005F;
    border-radius: 5px;
    padding: 1rem; }
    .principal-newsletter h3 {
      text-transform: uppercase; }

.services {
  padding: 3rem;
  background: #FFFFFF; }

.card {
  background: #383838;
  color: #FFFFFF; }
  .card-img-top {
    padding: .5rem; }
  .card-header {
    background: #383838;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase; }
  .card-body {
    background: #FF005F;
    color: #FFFFFF; }
